<footer id="wrapper" class="footer has-background-light">
    <div class="content has-text-centered">
        <p>
            @Document.GetString(WebKeys.Copyright) Alex Bance - Built using <a
                href="https://statiq.dev/web">Statiq.Web</a> & <a href="https://bulma.io/">Bulmia</a>.
            <br>
            The views and opinions expressed on this site are soley my own and do not represent those of any entity that
            I am, have been or might be affiliated with.
            @{
                IDocument rssFeed = Outputs["**/*.rss"].FirstOrDefault();
                IDocument atomFeed = Outputs["**/*.atom"].FirstOrDefault();
            }
            @if (rssFeed != null || atomFeed != null)
            {
                <br>
                @if (rssFeed != null)
                {
                    <span class="icon-text">
                        <span class="icon">
                            <i class="fas fa-rss-square"></i>
                        </span>
                        <a href="@Context.GetLink(rssFeed)">RSS Feed</a>
                    </span>
                }
                @if (atomFeed != null)
                {
                    <span class="icon-text">
                        <span class="icon">
                            <i class="fas fa-rss-square"></i>
                        </span>
                        <a href="@Context.GetLink(atomFeed)">Atom Feed</a>
                    </span>
                }
            }
        </p>
    </div>
</footer>