@model IDocument

@foreach (IDocument post in Model.GetChildren())
{
    @Html.Partial("/_post.cshtml", post)
}
@{
    IDocument newer = Model.GetDocument(Keys.Previous);
    IDocument older = Model.GetDocument(Keys.Next);
}
<div class="buttons is-centered">
    @if (newer != null) {
        <a class="button is-light" href="@Context.GetLink(newer)">Show Newer Posts</a>
    }
    @if (older != null) {
        <a class="button is-light" href="@Context.GetLink(older)">Show Older Posts</a>
    }
</div>
