@model IDocument

@{
    DateTime published = Model.GetDateTime(WebKeys.Published);
    string subtitle = Model.ContainsKey("Lead") ? $"{published.ToLongDateString()} - {Model.GetString("Lead")}" : published.ToLongDateString();
}

<section class="section">
    <p class="title is-4">@Html.DocumentLink(Model)</p>
    <p class="subtitle is-6">@subtitle</p>
    <hr />
</section>
