---
Title: Home
---
<div class="tile is-ancestor">
    <div class="tile is-9 is-vertical is-parent">
        <div class="tile is-child box">
            <p class="title">One</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor
                vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
        </div>
        <div class="tile is-child box">
            <p class="title">Two</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor
                vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
        </div>
    </div>
    <div class="tile card">
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-64x64">
                        <img src="assets/me.jpeg" alt="Alex Bance">
                    </figure>
                </div>
                <div class="media-content">
                    <p class="title is-4">Alex Bance</p>
                </div>
            </div>
            <div class="content">
                <p>Alex is a full stack .NET developer and technical consultant for Microsoft's Power Platform.</p>
                <p>Alex has considerable experiance working with the following technologies:
                <ul>
                    <li>Power Platform</li>
                    <li>Azure DevOps</li>
                    <li>.NET Development</li>
                    <li>Azure Native Application Development</li>
                </ul>
                </p>
            </div>
        </div>
    </div>
</div>
