Title: "Ubiquiti Unifi: Seggregating Sonos Speakers using VLANs"
Lead: "A guide to setting up Sonos products and allowing control from a different VLAN."
Image: assets/images/ubiquiti-unifi-configuring-vlans/ap.jpg
Tags:
- Ubiquiti Unifi
- Sonos
- Networking
---

<div class="content">
    <p>
        Let me first caveat this post by saying that I am in no way an expert in this field, the information provided here has been procured through trial and error and has worked for my setup.
    </p>
    <h3>Contents</h3>
    <ul>
        <li><a href="#intro">Introduction to Unifi</a></li>
        <li><a href="#existingConfig">My Existing Configuration</a></li>
    </ul>
    <h3 id="intro">Introduction to Unifi</h3>
    <p>
        A couple of years ago I invested in some Ubiquiti Unifi equipment to replace my ISP's "all-in-one" box due to poor performance, since the inital setup and install I have not had any issues. The downside of this approach is that the majority of my network equipment now doesn't fit in the cabinet where the fibre line comes into the house. The following devices are crammed in and around the small cabinet:
    <ul>
        <li>Optical Network Terminal (ONT)</li>
        <li>POE Switch</li>
        <li>Unifi Security Gateway</li>
    </ul>
    </p>
    <p>
        Ubiquiti's Unifi ecosystem comes with some controller software, which allows the configuration and monitoring of your network and its devices. There are a number of ways to run the controller software, in my case I have it installed on a Raspberry Pi.
    </p>
    <img alt="Statistics from the Unifi Controller" src="/assets/images/ubiquiti-unifi-configuring-vlans/unifi-controller-stats.png" />
    <h3 id="existingConfig">My Existing Configuration</h3>
    <p>
        My existing configuration contains two networks, one for the majority of our devices. Laptops, computers, mobile phones etc. The other network is soley for IoT devices. I have then configured rules that allows IoT devices to respond to requests from the main network and reach the internet. This reduces the risk of an infected device being able to access sensitive equipment and information.
    </p>
</div>

